<div class="container py-5">
   <div class="row">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-6 mx-auto">
               <!-- form card login -->
               <div class="card rounded-0">
                  <div class="card-header">
                     <h3 class="mb-0">Actualizar datos</h3>
                  </div>
                  <div class="card-body">
<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>'form-control form-control-lg rounded-0' , :disabled=>'disabled' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(déjelo en blanco si no quiere cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "off", :class=>'form-control form-control-lg rounded-0' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> Mínimo de caracteres</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(necesitamos su contraseña actual para confirmar sus cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", :class=>'btn btn-success btn-lg float-right' %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p><%= button_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=>'btn btn-danger btn-lg' %></p>

<%= link_to "Atras", :back, :class=>'btn btn-warning btn-lg' %>
</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>