<div class="container py-5">
   <div class="row">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-6 mx-auto">
               <!-- form card login -->
               <div class="card rounded-0">
                  <div class="card-header">
                     <h3 class="mb-0">Registro</h3>
                  </div>
                  <div class="card-body">
                     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                     <%= devise_error_messages! %>
                     <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>'form-control form-control-lg rounded-0' %>
                     </div>
                     <div class="form-group">
                        <%= f.label :password %>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "off", :class=>'form-control form-control-lg rounded-0' %>
                     </div>
                     <div class="form-group">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off", :class=>'form-control form-control-lg rounded-0' %>
                     </div>
                     <div class="actions">
                        <%= f.submit "Enviar", :class=>'btn btn-success btn-lg float-right' %>
                     </div>
                     <% end %>
                     <%= render "devise/shared/links" %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>