<div class="container py-5">
   <div class="row">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-6 mx-auto">
               <!-- form card login -->
               <div class="card rounded-0">
                  <div class="card-header">
                     <h3 class="mb-0">Formulario</h3>
                  </div>
                  <div class="card-body">
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :id_event %>
    <%= form.text_field :id_event, id: :event_id_event, :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :event_nombre, :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :event_descripcion,:cols => 10, :rows => 5, :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="form-group">
    <%= form.label :lugar %>
    <%= form.text_field :lugar, id: :event_lugar, :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="form-group">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :event_fecha, :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, id: :event_link, :class=>'form-control form-control-lg rounded-0' %>
  </div>
  <div class="actions">
    <%= form.submit "Enviar", :class=>'btn btn-success btn-lg float-right'  %>
  </div>
<% end %>
</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>