<h1>Editar Evento</h1>

<%= render 'form', event: @event %>
<center> 		
<div class="" style="padding-top: 2em">
<%= link_to 'Show', @event, :class=>'btn btn-secondary btn-lg float-center' %> |
<%= link_to 'Back', events_path, :class=>'btn btn-warning btn-lg float-center' %>
</div>
</center>