<script type="text/javascript">
     function loadCategories(idEvent) {
       $.ajax({
              type: "GET",
              url: '/events/loadCategories',
              data: {
                id_event    : idEvent
             },
             dataType: "script",
             success: function() {
               console.log('ok');
             }
           });

    }

     function saveEventCategory(object,idevent,idcategory){
     var rta=false;
       if($(object).is(":checked")){
               rta=true;
       }
       $.ajax({
              type: "GET",
              url: '/events/saveEventCategory',
              data: {
                event_id    : idevent,
                category_id  : idcategory,
                checked         : rta
             },
             dataType: "script",
             success: function() {
               console.log('ok');
             }
           });

    }
</script>
<p id="notice"><%= notice %></p>
<%= render 'addCategories'%>
<h1>Eventos acádemicos</h1>

<table class="table">
  <thead class="thead-dark text-center">
    <tr>
      <th>Id event</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Lugar</th>
      <th>Fecha</th>
      <th>Categoria</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id_event %></td>
        <td><%= event.nombre %></td>
        <td><%= event.descripcion %></td>
        <td><%= event.lugar %></td>
        <td><%= event.fecha %></td>
        <td>          
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal3" onclick="loadCategories('<%=event.id%>')">
           Asignar
          </button>
        </td>
        <td> <a href="http://<%= event.link %>" target="blank" class="btn btn-outline-success">Acceder</a> </td>
        <td><%= link_to 'Show', event, :class=>'btn btn-info'  %></td>
        <td><%= link_to 'Edit', edit_event_path(event), :class=>'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Nuevo evento', new_event_path, :class=> 'btn btn-success btn-lg' %>
</br></br>
<div class="row ">
<% @events.each do |event| %>
  <div class="col-sm-12 col-md-12 col-lg-6" style="overflow: auto;">
    <div class="card bg-light mb-3">
      <div class="card-header text-center header-color"><%= event.university.nombre %></div>
      <div class="card-body">
        <h5 class="title"><%= event.nombre %></h5>
        <p class="card-text">
          <b>Descripción:</b> <%= event.descripcion %> <br>
          <b>Lugar:</b> <%= event.lugar %> <br>
          <b>Fecha:</b> <%= event.fecha %> <br>

          <b>Categorias:</b> 

          <% @categorias.each do |categoria|%>

            <% categoryEvent=CategoryEvent.find_by(category_id: categoria.id,event_id: event.id) %>
            <%if categoryEvent!=nil %>
             - <%= categoria.nombre %> 
            <%end%>

          <%end%>
          <br>

          <center>
          <a href="http://<%= event.link %>" target="blank" class="btn btn-success" style="width: 100%;font-size: 18px;" >Más información</a>
          </center>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>
<br>


