
$("#nameEvent").empty()

$("#nameEvent").append("<%=@event.nombre%>")
$("#tableCategories").empty()
$("#tableCategories").append("<thead><tr>"+
	                           "<th width='40%'>Nombre</th>"+
	                          
                             "<th width='10%'></th>"+
	                           "</tr></thead><tbody>");
 <%i=1%>
 <% @categorias.each do |categoria|%>
 
 $("#tableCategories").append("<tr>"+
 	                            "<td width='40%'><%= categoria.nombre %></td>"+
 	                                                         
                              "<td>"+
                                "<% categoryEvent=CategoryEvent.find_by(category_id: categoria.id,event_id: @event.id) %> "+
                                "<%if categoryEvent!=nil %>"+
        	                    "<input type='checkbox' class='filled-in' id='categoryEvent<%=categoria.id%>' onChange='saveEventCategory(this,<%=@event.id%>,<%=categoria.id%>)'  checked/>"+
        	                    "<%else%>"+
        	                    "<input type='checkbox' class='filled-in' id='categoryEvent<%=categoria.id%>' onChange='saveEventCategory(this,<%=@event.id%>,<%=categoria.id%>)'  />"+
        	                    "<%end%>"+
        	                    "<label for='categoryEvent<%=categoria.id%>'></label>"+
                                "</td>"+
 	                            "<td width='10%'></td>"+
 	                            "</tr>");
 <%i+=1%>
 <%end%>
$("#tableCategories").append("</tbody>");
