<p id="notice"><%= notice %></p>
<div class="container py-5">
   <div class="row">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-6 mx-auto">
               <!-- form card login -->
               <div class="card rounded-0">
                  <div class="card-header">
                     <h3 class="mb-0">Formulario</h3>
                  </div>
                  <div class="card-body">
<p>
  <strong>Id event:</strong>
  <%= @event.id_event %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @event.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @event.descripcion %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @event.lugar %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @event.fecha %>
</p>


<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<%= link_to 'Edit', edit_event_path(@event), :class=>'btn btn-warning btn-lg float-center' %> |
<%= link_to 'Back', events_path, :class=>'btn btn-secondary btn-lg float-center' %>
</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>