<div class="container py-5">
   <div class="row">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-6 mx-auto">
               <!-- form card login -->
               <div class="card rounded-0">
                  <div class="card-header">
                     <h3 class="mb-0">Inicio de sesión</h3>
                  </div>
                  <div class="card-body">
                     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                     <div class="form-group">
                        <%= f.label :correo %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>'form-control form-control-lg rounded-0' %>
                     </div>
                     <div class="form-group">
                        <%= f.label :contraseña %><br />
                        <%= f.password_field :password, autocomplete: "off", :class=>'form-control form-control-lg rounded-0' %>
                     </div>
                     <% if devise_mapping.rememberable? -%>
                     <div class="form-group">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                     </div>
                     <% end -%>
                     <div class="actions">
                        <%= f.submit "Enviar" , :class=>'btn btn-success btn-lg float-right' %>
                     </div>
                     <% end %>
                     <%= render "devise/shared/links" %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>