<div class="container py-5">
   <div class="row">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-6 mx-auto">
               <!-- form card login -->
               <div class="card rounded-0">
                  <div class="card-header">
                     <h3 class="mb-0">Formulario</h3>
                  </div>
                  <div class="card-body">
<%= form_with(model: university, local: true) do |form| %>
  <% if university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(university.errors.count, "error") %> prohibited this university from being saved:</h2>

      <ul>
      <% university.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if  @current_user.role == 'admin'%>
    <%= form.label :Correo %>
    <%= form.text_field :id_universidad, id: :university_id_universidad, :class=>'form-control form-control-lg rounded-0'%>
    <% else %>
    <%= form.label :Correo %>
    <%= form.text_field :id_universidad, id: :university_id_universidad, :class=>'form-control form-control-lg rounded-0', :disabled=>'disabled' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :university_nombre, :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="form-group">
    <%= form.label :dirección %>
    <%= form.text_field :direccion, id: :university_direccion, :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="form-group">
    <%= form.label :teléfono %>
    <%= form.text_field :telefono, id: :university_telefono, :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="form-group">
    <%= form.label :ciudad %>
    <%= form.text_field :ciudad, id: :university_ciudad, :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="form-group">
    <%= form.label :departamento %>
    <%= form.text_field :departamento, id: :university_departamento, :class=>'form-control form-control-lg rounded-0' %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", :class=>'btn btn-success btn-lg float-right' %>
  </div>
<% end %>
</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>