
<%= render 'form', university: @university %>
<center> 		
<div class="" style="padding: 2em">
<%= link_to 'Mostrar', @university, :class=>'btn btn-secondary btn-lg float-center' %> 
<%= link_to 'Atrás', universities_path, :class=>'btn btn-warning btn-lg float-center' %>
</div>
</center>