<p id="notice"><%= notice %></p>

<% if @idUser.role=="university" %>
  <h1>Universidad</h1>

    <table class="table  table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Eventos</th>
          <th>Nombres</th>
          <th>Direcciones</th>
          <th>Teléfonos</th>
          <th>Ciudades</th>
          <th>Departamentos</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @universities2.each do |university| %>
          <tr>
           <!-- <td><%= university.id_universidad %></td>-->
            <td><%= link_to 'Ver eventos', :controller=>'events', :action=>'index', :idUniversity=>university.id %></td>
            <td><%= university.nombre %></td>
            <td><%= university.direccion %></td>
            <td><%= university.telefono %></td>
            <td><%= university.ciudad %></td>
            <td><%= university.departamento %></td>
            <td><%= link_to 'Show', university, :class=>'btn btn-success'  %></td>
            <td><%= link_to 'Edit', edit_university_path(university), :class=>'btn btn-warning'  %></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>



<% elsif @idUser.role=="admin" %>
    <p>Administrador</p>
    <h1>Universidades</h1>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Id universidades</th>
          <th>Nombres</th>
          <th>Direcciones</th>
          <th>Teléfonos</th>
          <th>Ciudades</th>
          <th>Departamentos</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @universities.each do |university| %>
          <tr>
           <!-- <td><%= university.id_universidad %></td>-->
            <td><%= link_to university.id_universidad, :controller=>'events', :action=>'index', :idUniversity=>university.id %></td>
            <td><%= university.nombre %></td>
            <td><%= university.direccion %></td>
            <td><%= university.telefono %></td>
            <td><%= university.ciudad %></td>
            <td><%= university.departamento %></td>
            <td><%= link_to 'Show', university, :class=>'btn btn-info' %></td>
            <td><%= link_to 'Edit', edit_university_path(university), :class=>'btn btn-warning' %></td>
            <td><%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <br>
  <%= link_to 'Nueva Universidad', new_university_path, :class=>'btn btn-success btn-lgr'%>

<% else %>
  <p>Invitado</p>

  <div class="row ">
    <% @events.each do |event| %>
      <div class="col-sm-12 col-md-12 col-lg-6" style="overflow: auto;">
        <div class="card bg-light mb-3">
          <div class="card-header text-center header-color"><%= event.university.nombre %></div>
          <div class="card-body">
            <h5 class="title"><%= event.nombre %></h5>
            <p class="card-text">
              <b>Descripción:</b> <%= event.descripcion %> <br>
              <b>Lugar:</b> <%= event.lugar %> <br>
              <b>Fecha:</b> <%= event.fecha %> <br>
               <b>Categorias:</b> 

          <% @categorias.each do |categoria|%>

            <% categoryEvent=CategoryEvent.find_by(category_id: categoria.id,event_id: event.id) %>
            <%if categoryEvent!=nil %>
             - <%= categoria.nombre %> 
            <%end%>

          <%end%>
              <center>
              <a href="http://<%= event.link %>" target="blank" class="btn btn-success" style="width: 100%;font-size: 18px;" >Más información</a>
              </center>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>




