<p id="notice"><%= notice %></p>

<h1>Events</h1>


<div class="row ">
<% @events.each do |event| %>
  <div class="col-sm-12 col-md-12 col-lg-6" style="overflow: auto;">
    <div class="card bg-light mb-3">
      <div class="card-header text-center header-color"><%= event.university.nombre %></div>
      <div class="card-body">
        <h5 class="title"><%= event.nombre %></h5>
        <p class="card-text">
          <b>Descripción:</b> <%= event.descripcion %> <br>
          <b>Lugar:</b> <%= event.lugar %> <br>
          <b>Fecha:</b> <%= event.fecha %> <br>
          <b>Categoria:</b> <%= event.categoria %> <br><br>
          <center>
          <a href="http://<%= event.link %>" target="blank" class="btn btn-success" style="width: 100%;font-size: 18px;" >Más información</a>
          </center>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>
<br>