
<h1>Nueva Universidad</h1>

<%= render 'form', university: @university %>
<center> 		
<div class="" style="padding: 2em">
<%= link_to 'Atrás', universities_path, :class=>'btn btn-warning btn-lg' %>
</div>
</center>