<p id="notice"><%= notice %></p>
<div class="container py-5">
   <div class="row">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-6 mx-auto">
               <!-- form card login -->
               <div class="card rounded-0">
                  <div class="card-header">
                     <h3 class="mb-0">Formulario</h3>
                  </div>
                  <div class="card-body">
<p>
  <strong>Correo:</strong>
  <%= @university.id_universidad %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @university.nombre %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @university.direccion %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @university.telefono %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @university.ciudad %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @university.departamento %>
</p>

<%= link_to 'Edit', edit_university_path(@university), :class=>'btn btn-warning btn-lg float-center'  %> |
<%= link_to 'Back', universities_path, :class=>'btn btn-secondary btn-lg float-center'  %>
</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>