<!DOCTYPE html>
<html>
  <head>
    <title>Eventos</title>
     <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
    body
    {
      background: #c5c5c633;
    }

      .title 
      {
        color: grey;
        font-size: 18px;
        
      }
      .header-color
      {
        background: #757575 !important;
         color: #ffffff;
        font-size: 23px;
        box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
      }
      .card-body:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
        transition: 0.5s;
      }

    </style>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background: #497dc2 !important;">
  <a class="navbar-brand" href="#" style=""> <%= image_tag "eventos.png"%> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Inicio", root_path, :class=>'nav-link' %>
      </li>

      <% if current_user %>
      <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
            <%= current_user.email %>
         </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <%= link_to 'Cambiar contraseña', edit_user_registration_path, :class => 'dropdown-item' %> <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Bienvenido :)</a>
        </div>
      </li>
      <% else %>
       <li class="nav-item">
          <%= link_to 'Iniciar sesión', new_user_session_path, :class=>'nav-link' %>      
      </li>
        <% end %>
    </ul>
  </div>
</nav>
  	<div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>  
    <%= yield %>
	</div>
  </body>
</html>
